body {
font-size: 14px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
padding: 2px;
}

h3 {
    font-size: 22px;
    font-weight: normal;
}

li {
    line-height: 2;
}

input[type="text"]{
    /* 左右8 上下8 */
    padding: 6px 8px;
    font-size: 14px;
    width: 300px;
}
